@import "../../styles/bases/_variables.scss";

body {
	// background-color: #FD7314;
	background: #FF512F;
	background: -webkit-linear-gradient(265deg, rgba(255, 143, 0, 0.58), rgba(226, 11, 1, 0.71));
	background: linear-gradient(265deg, rgba(255, 143, 0, 0.58), rgba(226, 11, 1, 0.71));
	// display: flex;
	// height: auto;
	// min-height: 100vh;
}

.wrapper {
	// display: flex;
	// flex-wrap: wrap;
}