html,
body{
	color: $dark_grey;
	font-family: "proxima-regular";
}

a {
	transition: all 0.2s;
}

a:hover {
	text-decoration: none;
}

.material-icons {
	vertical-align: middle;
}

.wrapper--full-height {
	display: flex;
	flex: 1;
	height: 100vh;
	padding-top: 20px;
	padding-bottom: 20px;
}

.wrapper-backdrop {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	background: rgba(0, 0, 0, 0.5);
}

hr.primary{
	background-color: $primary_color;
	float: left;
	height: 2px;
	margin-top: 0;
}

.bg-gradient {
	background: #FF512F;
	background: -webkit-linear-gradient(265deg, rgba(255, 143, 0, 0.58), rgba(226, 11, 1, 0.71));
	background: linear-gradient(265deg, rgba(255, 143, 0, 0.58), rgba(226, 11, 1, 0.71));
}