html,
body{
	font-family: "proxima-regular";
	color: $dark_grey;
}

a {
	transition: all 0.2s;
}

a:hover {
	text-decoration: none;
}

hr.primary{
	background-color: $primary_color;
	float: left;
	height: 2px;
	margin-top: 0;
}