/*============== ProximaNova =================*/

@font-face {
    font-family: 'proxima-semiBold';
    src: url('../assets/fonts/ProximaNova/ProximaNova-Semibold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-bold';
    src: url('../assets/fonts/ProximaNova/ProximaNova-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-light';
    src: url('../assets/fonts/ProximaNova/ProximaNova-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-regular';
    src: url('../assets/fonts/ProximaNova/ProximaNova-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}