.text-bold{
	font-family: "proxima-bold";
}

.text-semi-bold{
	font-family: "proxima-semiBold";
}

@each $fontSize in $font-size {
	.font-#{$fontSize} {
		font-size: #{$fontSize}px;
	}	
}

a.base {
	color: $dark_grey;
}

a.to-primary {
	&:hover,
	&:focus {
		color: $primary_color;
	}
}