$breakpoint-mobile: 767px;
$breakpoint-tab: 992px;


$primary_color: #FD7314;
$primary_dark_color: #6f35d6;
$secondary_color: #ffaf40;
$grey: #8b90a1;
$dark_grey: #484D54;

$font_size: 12 14 16 18 20 30;